CompileFlags:
  Add: 
    - "-I./include"
    - "-IC:/npcap-sdk/Include"
    - "-std=c11"
    - "-Wall"
    - "-Wextra"

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [modernize*, readability*, performance*]
    Remove: [modernize-use-trailing-return-type]

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes